# go
/go

# etc
/.cache
/.local
/.pylint.d
/.vscode
/.vscode-server
/.bash_history
/.bash_logout
go.pdf
cyeh-cs124.pem
.ssh

# Binaries for programs and plugins
*/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/